<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Склад</title>
</head>
<body>
<h1>Новый товар</h1>
<form action="#" th:action="makenew" method="post" modelAttribute="product">

    <div>Наименование: <input type="text" path="title" name="title"/></div>
    <div>Стоимость: <input type="number" step=0.01 path="price" name="price"/></div>
    <div><input type="submit" value="Создать"/></div>
</form>
</body>
</html>